/* Sample commit changes*/

*{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: Source Sans Pro;
    color: #404040;
    text-align: center;
}

/*===Typography====*/
.title{
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
}

.subtitle{
    color: #F18119;
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}


.fine-print{
    font-size: .7rem;
    letter-spacing: 1px;
    margin-bottom: 0;
}

h2{
    font-size: 1.5rem;
    margin: 0;
}

h2 + p{
    font-weight: 900;
    color: #F18119;
    margin-top: 0;
}

.tag{
    color: #F18119;
    font-size: .75rem;
    font-weight: 900;
    order: -1;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top:5px solid #F18119;
}

/*====Layout=====*/

.intro{
    background-image: url(bbq.jpg), linear-gradient(45deg,  yellow, white);
    background-size:cover;
    background-position: center;
    background-color: darkgray;
    background-blend-mode: multiply;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 0 1em 2em;
    height: 50vh;
}


.mainsection{
    padding: 2em;
}

.email-collector{
    width: 80%;
    max-width: 250px;
    margin:0 auto;
    padding: 0;
}

input,.btn{
    width: 100%;
}

.btn{
    text-transform: uppercase;
    font-weight: 900;
    padding: .5em;
    margin: .5em auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left,#FF713B, #FFA51D);
    transform: scale(1);
    transition: all 250ms;
    outline: none;
}

.btn:hover,.btn:focus{
    color: white;
    transform: scale(1.1);
}

input{
    padding: .5em 1em;
    margin: .5em auto;
    font-size: 1rem;
    text-align: inherit;
    border: 1px solid black;
    border-radius: 10px;
    outline:none;
    transform: scale(1);
    transition: transform 250ms;
}

input:focus{
    transform: scale(1.1);
}

@media (min-width:550px){
    body{
        display: flex;
        font-size: 1.125rem;
    }

    .intro,.mainsection{
        width: 50%;
        min-height: 100vh;
    }

    .intro{
        justify-content: space-between;
    }

    .mainsection{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .intro > *, .mainsection > *{
        max-width: 500px;
        margin: 0 auto;
    }

    .info, .fine-print{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .email-collector{
        max-width: 300px;
    }
}
